.page-title {
  display: block !important;
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
}

.form-container {
  width: 400px;
  margin: auto;
}

.create-post-error {
  padding: 5px !important;
  margin-top: 5px !important;
  margin-bottom: 10px !important;
}
